<!DOCTYPE html>
<html>
    <head>
        <title>Gifting Home Page</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Give a Gift!</h1>
        </header>

        <div id="container">
            <form action="/friends/gifting/<%=user.id%>?_method=PUT" method='POST'>            
                <label for ='giveGift'>Choose User</label>
                <select name = 'userId2'>
                    <% for (let i=0; i<user.Friends.length; i++) { %>
                            <option value="<%=user.Friends[i].id%>"><%=user.Friends[i].name%></option>
                    <% } %>
                </select>
                <br>
                
                <label for ='add-friend'>Choose Crop</label>
                <select name = 'crop.id'>
                    <% for (let i=0; i<user.Crops.length; i++) { %>
                            <option value="<%=user.Crops[i].id%>"><%=user.Crops[i].name%></option>
                    <% } %>
                </select>
                <br>
                <input type="submit" name="" value="Give Gift"/>
            </form>
        </div>

        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/crops">Global Crop Page</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>