<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <header>
            <h1>Welcome <%=user.name%> </h1>
        </header>
        
        <div id="profile_wrapper">

            <div id="user_info">
                <h2>Your Information</h2>
                <br>
                <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
                    Name: <input type="text" name="name" value='<%=user.name%>'/></br>
                    Username: <input type="text" name="username" value='<%=user.username%>'/></br>
                    Password: <input type="text" name="password" value='<%=user.password%>'/></br>
                    <input type="submit" name="" value="Save Changes"/>
                </form>
                <form action='/users/profile/<%=user.id%>?_method=DELETE' method='POST'>
                    <input type='submit'  value="DELETE"/>
                </form>
            </div>

            <div id="farm">
                <h2>Your Farm</h2>
                <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" alt="farm">
                
                
            </div>

            <div id="user_info">
                <h2>Your Crops</h2>
                <br>
                <h4>List of crops will go here</h4>
                
            </div>
            

        </div>
        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/crops">Global Crop Page</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>