<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        
        
        
            <div id="profileHeader">
            <div id= "userName">
                <h1>Welcome <%=user.name%> </h1>
            </div>
            

            <div id="userInfo">
                <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
                    Name: <input type="text" name="name" value='<%=user.name%>'/></br>
                    Username: <input type="text" name="username" value='<%=user.username%>'/></br>
                    Password: <input type="text" name="password" value='<%=user.password%>'/></br>
                    <input type="submit" name="" value="Save Changes"/>
                </form>
                <form action='/users/profile/<%=user.id%>?_method=DELETE' method='POST'>
                    <input type='submit'  value="DELETE"/>
                </form>
            </div>
        </div>
        
        
        <div id="profile_wrapper">

            

            <div id="farmWrapper">
                <div id= "house">    
                <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" alt="farm">
                    <br><br>
                    <a href="/crops/new/<%=user.id%>">Create New Crop</a>
                </div>
                
                <div id = crops>
                <h4>List of <%=user.name%>'s crops</h4>
                <div id="cropWrapper">
                    <% for (let i=0; i<user.Crops.length; i++) { %>
                        <li>
                            <a href='/crops/<%=user.Crops[i].id%>' class= "<%=user.Crops[i].quality%>">
                                <img class = 'cropThumbnail' src="<%=user.Crops[i].image%>">
                            </a>
                        </li>
                        </br>
                    <% } %>
                </div>
                </div>
                <br><br>
                
            </div>
            

            

            <div id="gifting">
                <form action="/friends/new/<%=user.id%>" method='POST'>
                <h2>Make a friend!</h2>
                <label for ='add-friend'>Choose User</label>
                <select name = 'userId2'>
                    
                    <% for (let i=0; i<users.length; i++) { %>
                        <% if (users[i].id != user.id) { %>
                               
                            <% for (let j=0; j<user.Friends.length; j++) { %>
                                
                                
                                <% if (users[i].id != user.Friends[j].id) { %>
                                    <option value="<%=users[j].id%>"><%=users[j].name%></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                </select>
                <br>
                
                <label for ='add-friend'>Choose Crop</label>
                <select name = 'crop.id'>
                    <% for (let i=0; i<user.Crops.length; i++) { %>
                            <option value="<%=user.Crops[i].id%>"><%=user.Crops[i].name%> <%=user.Crops[i].quality%></option>
                    <% } %>
                </select>
                <br>

                <input type="submit" name="" value="Add Friend"/>
                </form>
                
                <div class = "friendsWrapper">
                    <div><h4>People I have given gifts to.</h4></div>
                    <div class = "friends">
                    <% for (let i=0; i<user.Friends.length; i++) { %>
                            <a href='/users/showprofile/<%=user.Friends[i].id%>'><%=user.Friends[i].name%> <%=user.Friends[i].Friend.relationship%></a>
                    <% } %>
                    </div>
                </div>

                <div class = "friendsWrapper">
                    <div><h4>People that have given me gifts.</h4></div>
                    <div class = "friends">
                    <% for (let i=0; i<user.Gifters.length; i++) { %>
                        <a href='/users/showprofile/<%=user.Gifters[i].id%>'><%=user.Gifters[i].name%> <%=user.Gifters[i].Friend.relationship%></a>
                    <% } %>
                    </div>
                </div>
            </div>
            

        </div>
        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/users">Take me to HomePage</a>
                <a href="/friends/<%=user.id%>">Give Gifts</a>
            </nav>
        </footer>
    </body>
</html>