<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        
        
        
            <div id="profileHeader">
            <div id= "userName">
                <h1>Welcome to <%=user.name%>'s farm! </h1>
            </div>
            

            <div id="showUserInfo">
                    Name: <%=user.name%></br>
                    Username: <%=user.username%></br>

                
            </div>
        </div>
        
        
        <div id="profile_wrapper">

            

            <div id="leftWrapper">
                <div id="farmWrapper">
                    <div id= "house">    
                    <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" alt="farm">
                        <br><br>
                        <div class = "friendsWrapperLeft">
                            <div><h4>Who has given crops to help your farm?:</h4></div>
                            <div id = "friendsLeft">
                            <% for (let i=0; i<user.Gifters.length; i++) { %>
                                <a href='/users/showprofile/<%=user.Gifters[i].id%>'><%=user.Gifters[i].name%> <%=user.Gifters[i].Friend.relationship%></a>
                            <% } %>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div id = crops>
                        <div id="cropWrapper">
                            <% for (let i=0; i<user.Crops.length; i++) { %>
                                
                                <% if(i < 12 ) { %>
                                    <li>
                                        <a  class= "<%=user.Crops[i].quality%>">
                                            <img class = 'cropThumbnail ' src="<%=user.Crops[i].image%>">
                                        </a>
                                    </li>
                                
                                <% } %>
                            <% } %>
                        </div>
                        
                    </div>
                    
                    
                </div>
                
            </div>
            

            

            <div id="gifting">
                
                <div id="makeFriend">
                   
                </div>
                
                <div class = "friendsWrapperRight">
                    <div><h4>Your Friends:</h4></div>
                    <div id = "friendsRight">
                    <% for (let i=0; i<user.Friends.length; i++) { %>
                            <a href='/users/showprofile/<%=user.Friends[i].id%>'><%=user.Friends[i].name%> <%=user.Friends[i].Friend.relationship%></a>
                    <% } %>
                    </div>
                </div>

                

                <div id = "giveGifts">
                    
                </div>
            </div>
            

        </div>
        <footer>
            <div id = "footer1"></div>
            <div id = "footer2">
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/users">Take me to HomePage</a>
                
            </nav>
            </div>
            <div id = "footer3">
                
            </div>
        </footer>
    </body>
</html>