<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        
        
        
            <div id="profileHeader">
            <div id= "userName">
                <h1>Welcome to <%=user.name%>'s farm! </h1>
            </div>
            

            <div id="showUserInfo">
                    
                    <h3>Name: <%=user.name%></br></h3>
                    <h3>Username: <%=user.username%></br></h3>

                
            </div>
        </div>
        
        
        <div id="showProfile_wrapper">

            

            <div id="leftWrapper">
                <div id="farmWrapper">
                    <div id= "house">    
                    <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" alt="farm">
                        <br><br>
                        <div class = "friendsWrapperLeft">
                            <div><h4>Who has given crops to help <%=user.name%>'s farm?:</h4></div>
                            <div id = "friendsLeft">
                            <% for (let i=0; i<user.Gifters.length; i++) { %>
                                <a href='/users/showprofile/<%=user.Gifters[i].id%>'><%=user.Gifters[i].name%> <%=user.Gifters[i].Friend.relationship%></a>
                            <% } %>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div id = crops>
                        <h3><%=user.name%>'s crops</h3>
                        <div id="cropWrapper">
                            <% for (let i=0; i<user.Crops.length; i++) { %>
                                
                                <% if(i < 12 ) { %>
                                    <li>
                                        <a  class= "<%=user.Crops[i].quality%>">
                                            <img class = 'cropThumbnail ' src="<%=user.Crops[i].image%>">
                                        </a>
                                    </li>
                                
                                <% } %>
                            <% } %>
                        </div>
                        
                    </div>

                    <div class = "showFriendsWrapperRight">
                        <div><h4><%=user.name%>'s Friends: (name) (relationship level)</h4></div>
                        <div id = "showFriendsRight">
                        <% for (let i=0; i<user.Friends.length; i++) { %>
                                <a href='/users/showprofile/<%=user.Friends[i].id%>'><%=user.Friends[i].name%>: <%=user.Friends[i].Friend.relationship%></a>
                        <% } %>
                        </div>
                    </div>
                        
                    </div>
                    
                    
                </div>
                
            </div>
            

            

          
            

        </div>
    </body>
</html>